---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
const posts = (
  await getCollection("blog", ({ data }) => {
    return !data.draft;
  })
).sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
const title = SITE_TITLE;
const description = SITE_DESCRIPTION;
---

<BaseLayout title={title} description={description}>
  <main class="mx-auto max-w-2xl">
    <section class="mt-32">
      <ul class="flex flex-col space-y-4">
        {
          posts.map((post) => (
            <li>
              <a href={`/${post.slug}/`} class="flex w-full justify-between">
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
