---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
const posts = (
  await getCollection("blog", ({ data }) => {
    return !data.draft;
  })
).sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
const title = SITE_TITLE;
const description = SITE_DESCRIPTION;
---

<BaseLayout title={title} description={description}>
  <main>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/${post.slug}/`}>
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
<style>
  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 64rem;
  }
  section {
    margin-top: 8rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  li a {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
</style>
