---
import type { CollectionEntry } from "astro:content";
import BaseLatout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<BaseLatout title={title} description={description}>
  <main>
    <article
      class="prose mx-auto lg:prose-xl dark:prose-invert prose-h1:text-3xl"
    >
      <h1 class="text-center">{title}</h1>
      <div class="flex flex-row justify-between text-sm">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div>
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <hr />

      <slot />
    </article>
  </main>
</BaseLatout>
