---
import type { CollectionEntry } from "astro:content";
import BaseLatout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<BaseLatout title={title} description={description}>
  <main>
    <article>
      <h1 id="title">{title}</h1>
      <div id="date-group">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div>
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <hr />
      <div id="content">
        <slot />
      </div>
    </article>
  </main>
</BaseLatout>
<style> 
img {
  max-width: 10rem;
}
  main {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
    @media (width < 768px) {
      letter-spacing: 0.025em;
    }
  }
  #title {
    text-align: center;
  }
  #date-group {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
  }
  #content {
    a {
      text-decoration: underline;
    }
    h2 {
      font-weight: 500;
      font-size: 1.4rem;
    }
    #footnote-label {
      display: none;
    }
    .footnotes {
      font-size: 0.875rem;
      color: #616161;
    }
    sup a {
      color: #616161;
    }
  }
</style>
